h2{
    text-align: center;
}

main{
    .sectionPrincipal{
        margin: 0% auto;
        width: 80%;
        text-align: center;
        margin-top: 10px;
   
        .movie-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap:60px;/*tamaño de las canaletas, que es el espacio entre filas y columnas*/
        }

        .movie-list li a.image-list {
            /* Estilos para el enlace de imagen*/
            display: block;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            width: 200px;
            height: 300px;
            transition: all 0.5s ease;
        }
        .movie-list li .info-movie {
            /* Agrega estilos para la información de la película */
            h4{
                font-size: 1rem;
                text-align: center;
                word-wrap: break-word;
                
            }
            background-color: #1f1515;

        }

        .buttons-admin{
            a{
                background-color: rgba(180, 9, 9, 0.521);
                padding: 12px;
                border-radius: 15px;
                font-size: 1.2rem;
            }
    }
}
}   

