.home-section{
    display: flex;
    flex-direction: column;
    background-image: url("./assets/image/bg-main.jpg");
    background-size:cover;
    background-position: center;
    opacity: .90;
    padding-top: 10vh;
    text-align: center;
    width: 100vw;
    min-height: calc(100 - 70px);
    color: rgb(255, 255, 255);
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 2rem;
        margin-bottom: 60px;
    }
    a{
        background-color: rgb(145, 29, 29);
        color: white;
        font-size: 1.2rem;
        width: 100vw;
        border-radius: 5px;
        transition: .5s;
        margin: 0;
        height: 40px;
        padding-top: 15px;
    }
    
}

.home-register-button:hover{
    transform: scale(1.8);
    transition: .5s;
}

.search-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px auto;
    h3{
        font-size: 1.8rem;
    }
    .search-input{
        position: sticky;
        
        input{
            width: 40vw;
            border: solid 1px rgba(221, 221, 221, 0.788);
            border-radius: 50px;
            padding: 10px;
        }
        .search-button{
            border: solid 1px rgba(221, 221, 221, 0.788);
            color: rgba(221, 221, 221, 0.788);
            background-color: rgb(145, 29, 29);
            padding: 10px 15px;
            border-radius: 50px;
        }
    }
}

.trending-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    
        i{
            color:rgb(255, 255, 255);
            font-size: 2em;
            transition: .5;
        }
        i:hover{
            cursor: pointer;
            color:rgb(145, 29, 29);
            transition: .5s;
        }
        h4{
            font-size: 2em;
            margin: 0 10px;
        }
        h3{
            font-size: 1.8rem;
        text-align: center;
        margin-bottom: 60px;
    }
    .grid-movies{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        
        .card-movie{
            text-align: center;
            margin: 10px;
            min-width: 200px;
            max-width: 250px;
            img{
                min-width: 10px;
                max-width: 250px;
                border-radius: 15px;
                margin: auto;
                object-fit: cover;
                opacity: .2;
                transition: 1s;
            }
            img:hover{
                opacity: 1;
                transition: 1s;
            }
            h4{
                font-size: 1.2rem;
                text-align: center;
                word-wrap: break-word;
                
            }
        }
        
    }


}


.acclaimed-section{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    margin: auto;
    width: 90vw;
    h3{
        width: 100%;
        font-size: 1.8rem;
    }
    .acclaimed-movies{
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px;
        flex-direction: row;
        .card-movie{
            display: inline-block;
            list-style: none;
            margin: 0 10px;
            a{
                max-width: 10vw;
                text-decoration: none;
                margin: 30px;
                img{
                    object-fit: cover;
                    width: 150px;
                    height: auto;
                    align-content: center;
                    border-radius: 15px;
                    margin: auto;
                }
            }
        }
    }
}

.acclaimed-section::-webkit-scrollbar{
    height: 45px;
}

/*---------------------------- MEDIA QUERYS -------------------------*/

@media only screen and (max-width: 350px){

    .trending-section{
        h3{
            font-size: 1.2rem;
        }
     .grid-movies{
        width: 100vw;
         .card-movie{
             width: 100vw;
             img{
                margin: 0 auto;
                max-width: 80%;
             }
         }
     }
    } 
 }

 @media only screen and (max-width: 650px){
    .home-section{
        h1{
            font-size: 1.8rem;
        }
        h2{
            font-size: 1.3rem;            
        }
        a{            
            font-size: 1rem;
        }
        
    }

 }